/*---------------------------------------------
OVERALL STYLING
---------------------------------------------*/

/* ---------------------------------------------
FONT
-----------------------------------------------*/

/* KOPJES*/
@import url(//fonts.googleapis.com/css?family=Roboto+Slab&display=swap);

/* TEKST*/
@font-face {
font-family: 'Avenir';
src: url("Avenir.ttc") format("truetype");
}

/* ---------------------------------------------
BODY
-----------------------------------------------*/
body{
margin: 0;
color: black;
}

body.index {
background-color: #ced0d2;
}

/* ---------------------------------------------
KOPJES
-----------------------------------------------*/
h1,
h2 {
margin-top: 2em;
font-family: 'Roboto Slab', serif;
text-transform: uppercase;
text-align: center;
color: black;
text-decoration: none;
font-weight: normal
}

h3 {
font-family: "Avenir", sans-serif;
text-align: center;
color: black;
text-decoration: none;
}

h4 {
font-family: "Playfair Display", serif;
text-align: center;
color: black;
text-decoration: none;
}

body {
font-family: "Avenir", sans-serif;
}

a {
text-decoration: none;
}

/* ---------------------------------------------
HEADER
-----------------------------------------------*/
body > header {
background: #071520;
}

body > header h1 {
/*verborgen h1*/
visibility: hidden;
position: absolute;
left: -666em;
}

/* LOGO */
body > header > a > img {
display: block;
width: 20em;

margin-left: auto;
margin-right: auto;
padding-top: 2em;
}

/* WINKELWAGENTJE*/
body > header > button {
background-image: url(Afbeeldingen/winkelwagentje.svg);
background-color: #071520;
background-repeat: no-repeat;
width: 2.5em;
height: 2.5em;

position: absolute;
left: 90%;
top: 5%;

border: none;
}

/* WINKELWAGENTJE TOEGEVOEGD*/
body.toegevoegd > header > button {
background-image: url(Afbeeldingen/winkelwagentjeStip.svg);
}

/* NAVIGATIEBAR */
body > header > nav {
width: 75%;
margin-left: auto;
margin-right: auto;
}

body > header > nav ul {
list-style: none;
border: transparent;
padding-bottom: 2em;

display: flex;
flex-direction: row;
justify-content: space-between;
overflow: scroll;
}

body > header > nav ul a {
font-family: "Avenir", sans-serif;
color: white;
text-decoration: none;
text-transform: uppercase;

background-color: transparent;
margin: 1em;
white-space: nowrap;
border: transparent;
white-space: nowrap;
}

/* EINDE HEADER */

/*---------------------------------------------
FAVORIETEN ALGEMEEN
---------------------------------------------*/
body.index > section > a > article {
background-color: white;
color: black;
text-align: center;
box-shadow: .4em .4em 2em .4em grey;
}

body.index article img {
max-width: 100%;
}

/*---------------------------------------------
SIERADEN ALGEMEEN
---------------------------------------------*/
main.index {
background-color: #ced0d2;
}

/* KOPJES SIERADEN */
body.index > main > a > article > button {
position: absolute;
}

body.index > main > h2 {
margin-top: 2em;
text-align: center;
margin: 0;
}

/*---------------------------------------------
FOOTER ALGEMEEN
---------------------------------------------*/
footer {
background-color: #071520;
width: auto;
padding: 0 12.5%;
}

footer > section {
;
font-size: 75%;
}

footer > section > ul{
list-style: none;
padding: 0;
}

footer > section > h3{
padding: .5em;
color: black;
background-color: white;
text-align: left;
margin: 0
}

footer > section > ul > li > a {
margin-top: 1em;
color: white;
;

}

footer > section:last-of-type > ul {
background-color: red;
display: inline-flex;
flex-direction: row;
align-items: flex-start;   
}


/*---------------------------------------------
DETAILPAGINA ALGEMEEN
---------------------------------------------*/

/* NAVIGATIE PAD */
body.detail > main > p:first-of-type {
margin: 2em;
word-spacing: .5em;
}

/* PRODUCT BESCHRIJVING*/
body.detail > main > section > article > p {
margin-bottom: 1em;
}

/* TEKST MET* */
body.detail > main > section > article > p:last-of-type {
font-size: 75%;
}

/* HELE FIELDSET */
body.detail > main > section > form > fieldset {
padding: 0;
    border: none;
    margin-top: -em;
}

/* VOEG TOE AAN WINKELWAGENTJE BUTTON */
body.detail > main button{
width: 100%;
background-color: orange;
text-transform: uppercase;
font-weight: bold;
padding: 1em;
margin-top: 1.5em;
}

/* AANTAL KIEZEN SELECTOR */
body.detail > main select{
border: solid black 1px;
border-radius: 0;
display: inline;
}






/*---------------------------------------------
IPHONE MEDIA QUERY
---------------------------------------------*/
@media only screen and (min-width: 20em) {

/* INDEX - IPHONE - FAVORIETEN */
body.index > section {
width: 75%;
margin: 0 auto;
}

body.index > section > a > article {
padding: 1em;
margin: 1em 0em
}

/* INDEX - IPHONE - FAVORIETEN AFBEELDINGEN WEG*/
body.index > section > a > article > img {
display: none;
}

/*INDEX - IPHONE - FAVORIETEN KOPJES*/
body.index > section > a > article > h3,
p {
margin: 0em;
}

/* INDEX - IPHONE - SIERADEN */
body.index main {
display: grid;
grid-column: 1 / 3;
grid-template-columns: 1fr 1fr;
grid-gap: 1em;
width: 75%;
margin: 0 auto;
}

body.index main > h2 {
margin-top: 2em;
grid-column: span 2;
}

body.index main > a > article {
position: relative;
margin-bottom: 2em;
}

body.index main > a > article > button {

position: absolute;

background: white;
border: none;
padding: .5em;

font-size: 1em;
text-transform: uppercase;
font-weight: bold;

right: 0;
left: 0;
bottom: -10%;

width: 100%
}


/* INDEX - IPHONE - NIEUWSBRIEF */
body.index form {
margin-top: 5em;
max-width: auto;
padding: 0 12.5% 1em;
background-color: white;
}

body.index form > fieldset {
border: none;
}

body.index form > fieldset legend {
width: 100%;
}

body.index form > fieldset > p {
margin-bottom: 2em;
}

body.index form > fieldset > section {
display: flex;
justify-content: space-between;
}

body.index form > fieldset > section > label {
hyphens: none;
}

body.index form > fieldset > section > input {
font-family: 'Avenir', sans-serif;
margin-left: 2em;
height: 2em;

border-top: none;
border-left: none;
border-right: none;
border-bottom: solid black;

flex-grow: 1;
}

body.index form > fieldset > button {
margin-top: 2em;
width: 100%;
height: 4em;

font-family: 'Avenir', sans-serif;
text-transform: uppercase;

background-color: orange;
border: none;
}


/* INDEX & DETAIL - IPHONE - FOOTER */
footer {
display: grid;
grid-column: 1/3;
grid-template-columns: 1fr 1fr;
grid-gap: .5em;
}

footer > section {
display: flex;
flex-direction: column;
padding: .5em;
font-size: 75%;
}

footer > section > h3 {
padding: .5em 1em;
}

footer > section img {
max-width: 3em;
}

footer > section:last-of-type {
grid-column: span 2;
}

footer > section:last-of-type a {

grid-column: span 2;

margin: .2em;
display: flex;
flex-direction: row;
}

/*---------------------------------------------
DETAILPAGINA - IPHONE
---------------------------------------------*/
body.detail > main > section {
margin: 0 2em
}

body.detail > main > section > img {
width: 100%;
box-shadow: .4em .4em .4em grey;
}

} /* EINDE IPHONE MEDIA QUERY */



/*---------------------------------------------
IPAD MEDIA QUERY
---------------------------------------------*/
@media only screen and (min-width: 37.5em) {

/* INDEX - IPAD - FAVORIETEN*/
body.index > section {
display: grid;
grid-column: 1/3;
grid-template-columns: 1fr 1fr;
grid-gap: 1em;

max-width: 75%;
margin: auto;
}

body.index section h2 {
grid-column: span 2;
}

body.index > section > a > article {
margin: 0;
}

body.index > section > a > article > img {
display: block;
}

body.index > section > a > article > h3 p {
margin: 1em .5em .5em .5em;
}

body.index > section > a > article > h3{
margin-top: 1em;
}

/* INDEX - IPAD - SIERADEN */
body.index main {
display: grid;
grid-column: 1 / 3;
grid-template-columns: 1fr 1fr;
grid-gap: 1em;

width: 75%;
margin: 0 auto;
}

body.index main > h2 {
grid-column: span 2;
}

body.index main > a > article {
position: relative;
margin: 0;
}

body.index main > a > article > button {

position: absolute;

background: white;
border: none;
padding: .5em;

font-size: 1em;
text-transform: uppercase;
font-weight: bold;

margin: auto;
right: 25%;
left: 25%;
bottom: 10%;

width: auto;
}

/* INDEX & DETAIL - IPAD - FOOTER*/
footer {
display: grid;
grid-column: 1 / 4;
grid-column:
}

/*---------------------------------------------
DETAILPAGINA - IPAD
---------------------------------------------*/
body.detail {
width: 100%;
}

/* DETAIL - IPAD - PRODUCT ETC */
body.detail > main > section {
display: grid;
grid-column: 4;
grid-template-columns: 1fr 1fr 1fr;
grid-row: 2;
grid-template-rows: 3;
grid-gap: 1em;
}

/* DETAIL - IPAD - PRODUCTFOTO */
body.detail > main > section > img {
grid-column-start: 1;
grid-column-end: 2;
margin-bottom: 2em;
grid-row: span 2;
}

/* DETAIL - IPAD - PRODUCTFORMULIER*/
body.detail > main > section > form {
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
}

body.detail > main > section > form > fieldset > option {
font-family: "Abril Fatface", sans-serif;
}

/* DETAIL - IPAD - PRODUCTBESCHRIJVING*/
body.detail > main > section > article {
grid-column: span 3;
}

/* DETAIL - IPAD - MISSCHIEN VINDT JE DIT OOK LEUK */
body.detail > section {
display: grid;
grid-column: 3;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
margin: 5em;
}

/* DETAIL - IPAD - KOPJE MISSCHIEN VINDT JE DIT OOK LEUK */
body.detail > section > h2 {
grid-column: span 3;
margin-top: 5em;
}

/* DETAIL - IPAD - KAARTJES MISSCHIEN VINDT JE DIT OOK LEUK*/
body.detail > section > a > article {
background-color: white;
color: black;
text-align: center;
padding: 1em;
margin: 1em 0em;
box-shadow: .4em .4em 2em .4em grey;
min-height: 13em;
}

/*DETAIL - IPAD - AFBEELDINGEN MISSCHIEN V.*/
body.detail > section > a > article > img {
max-width: 100%;
}

} /* EINDE IPAD MEDIA QUERY */


/*---------------------------------------------
LAPTOP MEDIA QUERY
---------------------------------------------*/
@media only screen and (min-width: 68.75em) {

/* INDEX - LAPTOP - FAVORIETEN */
body.index section h2 {
grid-column: span 4;
}

body.index > section {
display: grid;
grid-column: 1/5;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1em;

max-width: 75%;
margin: auto;
}

body.index > section > a > article {
border: solid white 1em;
}

body.index > section > a > article > h3,
p {
margin: 1em .5em .5em .5em;
}

/* INDEX - LAPTOP - SIERADEN */
body.index main > h2 {
grid-column: span 4;
}

body.index main {
display: grid;
grid-column: 1 / 5;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1em;
width: 75%;
margin: 0 auto;
}

body.index main > a > article {
position: relative;
}

body.index main > a > article > button {

position: absolute;

background: white;
border: none;
padding: .5em;

font-size: 1em;
text-transform: uppercase;
font-weight: bold;

margin: auto;
right: 25%;
left: 25%;
bottom: 10%;
}

/* INDEX & DETAIL - LAPTOP - FOOTER */
footer {
font-size: 60%;

display: grid;
grid-column: 1/4;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: .5em;
}

footer > section {
display: flex;
flex-direction: column;
padding: .5em;
}

footer > section > h3 {
text-align: left;
}

footer img {
max-width: 3em;
}

footer > section:last-of-type a {

margin: .2em;
display: flex;
flex-direction: row;
}

}

/* EINDE LAPTOP MEDIA QUERY */
