body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ced0d2;
    margin: 0;
    color: black;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*header*/

body > header {
    background: #071520;
}

body > header h1 {
    /*verborgen h1*/
    visibility: hidden;
    position: absolute;
    left: -666em;
}

body > header > a img {
    /*logo*/
    display: block;
    width: 20em;

    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

/*navigatiebalk*/

body > header > nav {
    margin: 0em 3em 0em 3em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}

body > header > nav ul {
    list-style: none;
    border: transparent;
    padding-bottom: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
}

body > header > nav ul a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    background-color: transparent;
    margin: 1em;
    white-space: nowrap;
    border: transparent;
    white-space: nowrap;
}







/*Alles na navigatie*/

/*Stijling 'Favorieten'*/

body.index > section > a > article {
    background-color: white;
    color: black;
    text-align: center;
}

body.index article img {
    max-width: 100%;
}

/*Stijling 'Sieraden'*/

main.index {
    background-color: #ced0d2;
}

/*stijling kopjes sieraden*/

body.index > main > a > article > button {
    position: absolute;
}

body.index > main > h2 {
    margin-top: 2em;
    text-align: center;
    margin: ;
}







/*iPhone*/

@media (max-width: 663px) {


    /*    stijling favorieten*/
    body.index > section {
        width: 75%;
        margin: 0 auto;
    }

    body.index > section > a > article {
        padding: 1em;
        margin: 1em 0em
    }
    /*    foto's favorieten weg*/
    body.index > section > a > article > img {
        display: none;
    }

    /*    stijling kopjes favorieten*/
    body.index > section > a > article > h3,
    p {
        margin: 0em;
    }


    /*    stijling sieraden*/
    /*    h2 kopje sieraden*/
    body.index main > h2 {
        grid-column: span 2;
    }

    /*    grid sieraden*/
    body.index main {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        width: 75%;
        margin: 0 auto;
    }

    body.index main > a > article {
        position: relative;
    }

    body.index main > a > article > button {
        
        position: absolute;
        
        background: white;
        border: none;
        padding: .5em;
        
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        
        margin: auto;
        right: 25%;
        left: 25%;
        bottom: 10%;
    }



    /*iPad*/
    @media(min-width: 664px) and (max-width: 949px) {

        /*Stijling favorieten*/
        /*    h2 kopje favorieten*/
        body.index section h2 {
            grid-column: span 2;
        }

        /*    hele section grid*/
        body.index > section {
            display: grid;
            grid-column: 1/3;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;

            max-width: 75%;
            margin: auto;
        }

        body.index > section > a > article {
            border: solid white 1em;

        }


        body.index > section > a > article > h3,
        p {
            margin: 1em .5em .5em .5em;
        }







        /*Stijling sieraden*/
        body.index > main > a > article {

            display: grid;
            grid-column: 1/3;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            margin: 0 auto;
        }

    }



    /*Stijling 'Sieraden' iPad*/
    body.index main > a > article > h3 {

        position: absolute;
        bottom: 0em;
        left: 25%;
        background-color: white;
        background: white;
    }




    /*laptop weergave*/
    /*@media(min-width: 30em) {}*/
    /*Detailpagina*/
    main.detail {
        background-color: #ced0d2;
    }
